

@font-face {
    font-family: 'Dglr';
    src: url('Degular_Text-Medium.woff2') format('woff2'),
        url('Degular_Text-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Dglr';
    src: url('Degular_Text-Medium_Italic.woff2') format('woff2'),
        url('Degular_Text-Medium_Italic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}
